:root{
    --background-color: #fff;
}
*{
    box-sizing: border-box;
}
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    background-color: #fff;
    height: 100dvh;
    width: 100%;
    
}

body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #0d97ca;
    border-radius: 15px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #69176d;
}

.body-div{
    display: grid;
    grid-template-columns: 60px auto;  /* Sin comas, el tamaño de la cuadrícula se ajusta correctamente */
    grid-template-rows: auto 1fr auto;  /* El contenido ocupa el espacio restante */
    grid-template-areas: 
        "sidebar header"
        "sidebar contenido"
        "footer footer";
    height: 100vh;
}

.sidebar {
    position: fixed;
    z-index: 100;
    width: 60px;
    height: 100dvh;
    background-color: #9f10a7;
    color: white;
    padding: 40px 0;
    grid-area: sidebar;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}
.sidebar i{
    padding: 10px;
    color:#fff;
    font-size: 20px;
    text-align: center;
}

.sidebar ul li {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    position: relative;
}
.sidebar li .tooltip{
    position: absolute;
    top:-20px;
    left:calc(100% + 15px);
    z-index: 101;
    background-color: #69176d;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 9px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
}
.sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top:50%;
    transform: translateY(-50%);
}

.sidebar ul li a{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    transition: all .5s ease;
    z-index: 12;
}
.sidebar ul li a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    background-color: #69176d;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
    z-index: -2;
}
.sidebar ul li a:hover::after{
    transform: scaleX(1);
    background-color: #69176d;
}

header{
    display: flex;
    margin-left: 60px;
    height: 70px;
    flex-direction: row;
    position: fixed;
    z-index: 100;
    padding: 10px 0px 10px;
    border: none;
    border-bottom: solid 1px #d4d4d4;
    align-items: center;
    justify-content: space-between;
    background-color: white;

    width: calc(100% - 60px); 
    z-index: 99;
    grid-area: header;
}

header img{
    height: 50px;
    padding-left: 10px;
}
header .botones-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
header .crear-reto{
    background-color: #0d97ca;
    margin-right: 20px;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
header .crear-reto:hover{
    background-color: #2abaef;
}

header #open-modal-btn{
    background:none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: #0d97ca;
    padding-right: 20px;
}

footer{
    grid-area: footer;
    z-index: 150;
    bottom: 0;
    left: 0;
    width: 100%;
}


footer .bottom-footer{
    display: flex;
    justify-content: center;
    background-color: #69176d;
    color: #fff;
    font-size: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    grid-area: contenido;
    flex: 1;

    padding: 20px;
}

.modalnotis {
    display: none;  
    position: fixed;
    z-index: 1000;  
    top: 0;  
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.007); 

}
.modal-contenido {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: solid 1px #d4d4d4;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.078);
    max-width: 300px;
    height: 350px;
    width: 100%;
    margin-top: 60px;
    margin-left: calc(100% - 470px); 
}
.modal-contenido h2{
    margin: 0;
    font-weight: 100;
    font-size: 20px;
    color: #7f8c8d;
}
.modal-contenido .arriba{
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-bottom: solid 1px #d4d4d4;
    align-items: center;
    justify-content: space-between;
}
.modal-contenido .arriba button{
    background: none;
    font-size: 20px;
    border: none;
    cursor: pointer;
    color: #0d97ca;
    border-radius: 5px;
}
.modal-contenido .arriba button:hover{
    color: #2abaef;
}
#notificaciones{
    margin: 0;
    list-style-type: none;
    padding: 0;
    border-radius: 10px;
    display: grid; 
    grid-template-rows: auto 1fr; 
    align-items: center;
}
#notificaciones a {
    text-decoration: none;
    color: #a3a3a3;
    font-size: 15px;
    display: flex; 
    flex-direction: row;
    gap: 10px;
    align-items: center; 
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #eceaea;
    cursor: pointer;
}
#notificaciones a:hover{
    background-color: #f7f7f7;
}
#notificaciones .userimg {
    height: auto;
    width: 40px;
    border-radius: 50%;
}