.resultad_cont{
    margin-top: 20px;
}

.profile-card {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.189);
}

.profile-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.272);
}

.profile-card img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-info h2 {
    font-size: 1.2rem;
    color: #2C3E50;
}

.profile-info p {
    font-size: 0.9rem;
    color: #7f8c8d;
    margin-top: 5px;
}

.view-profile {
    background-color: #0d97ca;
    color: white;
    padding: 8px 15px;
    font-size: 0.9rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-profile:hover {
    background-color: #2fbdf0;
}

.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buscador input{
    border: solid 1px #0d97ca;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 15px;
    width: 500px;
}
.buscador input:focus{
    outline: none;
    background-color: #0d98ca0c;
}
.buscador button{
    background-color: #0d97ca;
    padding: 15px;
    border: solid 1px #0d97ca;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #fff;
}